amqp==5.3.1
anyio==4.14.1
asgiref==3.11.1
asttokens==3.0.1
billiard==4.2.4
black==24.4.2
celery==5.3.6
certifi==2026.6.17
chardet==7.4.3
charset-normalizer==3.4.7
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron_descriptor==2.1.0
decorator==5.3.1
Django==5.0.6
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==24.2
django-timezone-field==7.2.2
django-unfold==0.35.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
et_xmlfile==2.0.0
executing==2.2.1
flake8==7.0.0
gunicorn==22.0.0
h11==0.16.0
httptools==0.8.0
idna==3.18
ipython==8.24.0
isort==5.13.2
jedi==0.20.0
kombu==5.6.2
matplotlib-inline==0.2.2
mccabe==0.7.0
mypy_extensions==1.1.0
numpy==2.5.1
openpyxl==3.1.2
packaging==26.2
pandas==2.2.2
parso==0.8.7
pathspec==1.1.1
pillow==10.3.0
platformdirs==4.10.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.9
pure_eval==0.2.3
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.20.0
PyJWT==2.13.0
pyotp==2.9.0
pypng==0.20220715.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.2
PyYAML==6.0.3
qrcode==7.4.2
redis==5.0.3
reportlab==4.1.0
requests==2.32.2
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.2
urllib3==2.7.0
uvicorn==0.29.0
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.8.2
websockets==16.0
whitenoise==6.6.0
